doctype html
html
  head
    title Garage Doors
    link(rel='stylesheet', href='/css/pure-min.css')
    link(rel='stylesheet', href='/css/frontend.css')
    script(src='/js/zepto.min.js')
    script(src='/js/door.js')
  body
    h1 Doors
    each door in doors
      div(class='garage-door')
        div(class='garage-door-icon')
          img(src='img/' + door.status.toLowerCase() + '.png')
        div(class='garage-door-info')
          h2=door.name
          p=door.status.toLowerCase()
        div(class='garage-door-action')
          case door.status
            when 'OPEN'
              a(class='pure-button close-action' data-door-id=door.id data-door-action='close') Close
            when 'CLOSED'
              a(class='pure-button open-action' data-door-id=door.id data-door-action='open') Open
            default
              a(class='pure-button toggle-action' data-door-id=door.id data-door-action='toggle') Toggle

    div(class='auth-action')
      a(class='pure-button logout-action', href='/api/logout') Logout       